.item__wrapper{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: calc(var(--index)*14.5);
    border-radius: calc(1.2*var(--index));
    min-height: calc(var(--index)*17.5);
    row-gap: 2vh;
    padding-block: 4.5vh;
    box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-in-out;
}

.item__wrapper:hover{
    box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.8vh);
    transition: 0.25s ease-in-out;
    scale: 101.5%;
}

.item__photo{
    width: 66%;
    height: 35.6%;
}

.item__title{
    font-size: calc(var(--index)*1.22);
    min-height: calc(var(--index)*3.1);
    font-weight: 550;
    letter-spacing: calc(var(--index)*0.008);
    text-align: center;
}

.item__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.item__price{
    font-family:Roboto, serif;
    font-weight: 450; 
    font-size: calc(var(--index)*1.23);
    margin-right: calc(var(--index)*2);
}

.item__macros{
    font-family:Roboto, serif;
    color:#5A5A5A;
    font-weight: 350; 
    font-size: calc(var(--index)*0.6);

}

@media(max-width: 600px){
    .item__wrapper{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: calc(var(--index)*14.5);
        border-radius: calc(1.2*var(--index));
        min-height: calc(var(--index)*17.5);
        row-gap: 1.5vh;
        padding-block: 2.5vh;
        box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.2);
        transition: 0.25s ease-in-out;
    }
}

@media(max-width: 380px){
    .item__price{
        font-family:Roboto, serif;
        font-weight: 450; 
        font-size: calc(var(--index)*1.43);
        margin-right: calc(var(--index)*1);
    }
    
    .item__macros{
        font-family:Roboto, serif;
        color:#5A5A5A;
        font-weight: 350; 
        font-size: calc(var(--index)*0.75);
    
    }

    .item__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
}


@media(max-width: 320px){
    .item__price{
        font-family:Roboto, serif;
        font-weight: 450; 
        font-size: calc(var(--index)*1.23);
        margin-right: calc(var(--index)*1);
    }
    
    .item__macros{
        font-family:Roboto, serif;
        color:#5A5A5A;
        font-weight: 350; 
        font-size: calc(var(--index)*0.75);
    
    }

    .item__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .item__wrapper{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: calc(var(--index)*14.5);
        border-radius: calc(1.2*var(--index));
        row-gap: 0.7vh;
        padding-block: 1.5vh;
        box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.2);
        transition: 0.25s ease-in-out;
        max-height: 140px;
    }
}