.sumItem__wrapper{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    justify-content: center;
    width: calc(var(--index)*14.5);
    border-radius: calc(1.2*var(--index));
    row-gap: 2.5vh;
    padding-block: 3.5vh;
    box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.2);
    padding-inline: 1vw;
    height: fit-content;
    margin-bottom: 2vw;
}

.koi_fish{
    width: calc(var(--index)*10);
    margin-top: 2vh;
}

.sumItem__title{
    font-size: calc(var(--index)*1.22);
    font-weight: 550;
    letter-spacing: calc(var(--index)*0.008);
}

.total{
    width:100%;
    text-align: left;
}

.sumItem__lower__title{
    font-weight: 400;
    font-size: calc(var(--index)*1.1);
}

.meta_cont{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}


@media(max-width:560px){
    .sumItem__wrapper{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(var(--index)*14.5);
        border-radius: calc(1.2*var(--index));
        row-gap: 1vh;
        padding-block: 2vh;
        box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.2);
        padding-inline: 1vw;
        height: fit-content;
    }

    .meta_cont{
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
}