.sumItem__wrapper{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    justify-content: center;
    width: calc(var(--index)*14.5);
    border-radius: calc(1.2*var(--index));
    padding-top: 4.5vh;
    row-gap: 2.5vh;
    padding-bottom: 4.5vh;
    box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.2);
    padding-inline: 1vw;
    height: fit-content;
    margin-top: 3vh;
}

.koi_fish{
    width: calc(var(--index)*10);
    margin-top: 2vh;
}

.sumItem__title{
    font-size: calc(var(--index)*1.22);
    font-weight: 550;
    letter-spacing: calc(var(--index)*0.008);
}

.total{
    width:100%;
    text-align: left;
    margin-top: -3vh;
}

.sumItem__lower__title{
    font-weight: 400;
    font-size: calc(var(--index)*1.1);
}


.sumItem__buy__button{
    background-color: var(--primary-color);
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.3s ease-out;
}

.sumItem__buy__button:hover{
    background-color: var(--primary-color);
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.25s ease-out;
    transform: translateY(-0.4vh);
    scale: 101%;
    box-shadow: 0px 15px 16px -12px rgba(0, 0, 0, 0.6);
}

.sumItem__buy__button:active{
    background-color: var(--primary-color-dark);
    box-shadow: none;
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.25s ease-out;
    transform: translateY(0.4vh);
    scale: 100%;
}