.buy__button {
    background-color: black;
    color: white;
    min-width: calc(var(--index) * 9);
    height: calc(var(--index) * 2.6);
    font-weight: 600;
    font-size: calc(var(--index) * 1.09);
    letter-spacing: calc(var(--index) * 0.01);
    border-radius: calc(var(--index) * 1);
    padding: 0 calc(var(--index) * 0.7);
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.buy__button:disabled {
    background-color: rgb(67, 67, 67);
    cursor: not-allowed;
    transform: none !important;
    box-shadow: none !important;
}

.buy__button:hover:not(:disabled) {
    background-color: var(--primary-color);
    transform: translateY(-0.4vh) scale(1.01);
    box-shadow: 0px 15px 16px -12px rgba(0, 0, 0, 0.6);
}

.buy__button:active:not(:disabled) {
    background-color: var(--primary-color-dark);
    transform: translateY(0.4vh) scale(1);
    box-shadow: none;
}

@media (max-width: 768px) {
    .buy__button {
        min-width: calc(var(--index) * 7);
        min-height: calc(var(--index) * 2);
        height: calc(var(--index) * 2);
        font-size: calc(var(--index) * 0.95);
        padding: 0 calc(var(--index) * 0.5);
        border-radius: calc(var(--index) * 0.85);
    }
}

@media (max-width: 530px) {
    .buy__button {
        max-width: 100%;
        min-height: calc(var(--index) * 2.3);
        height: calc(var(--index) * 2.3);
        font-size: calc(var(--index) * 0.85);
        border-radius: calc(var(--index) * 0.8);
    }
}

@media (max-width: 480px) {
    .buy__button {
        height: calc(var(--index) * 2.3);
        min-height: calc(var(--index) * 2.3);
        font-size: calc(var(--index) * 0.85);
        border-radius: calc(var(--index) * 0.8);
    }
}

