.buy__button{
    background-color: black;
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.3s ease-out;
}

.buy__button:disabled{
    background-color: rgb(67, 67, 67);
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.3s ease-out;
}

.buy__button:hover{
    background-color: var(--primary-color);
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.25s ease-out;
    transform: translateY(-0.4vh);
    scale: 101%;
    box-shadow: 0px 15px 16px -12px rgba(0, 0, 0, 0.6);
}

.buy__button:active{
    background-color: var(--primary-color-dark);
    box-shadow: none;
    color: white;
    width: calc(var(--index)*9);
    height: calc(var(--index)*2.4);
    font-weight: 600;
    font-size: calc(var(--index)*1.09);
    letter-spacing: calc(var(--index)*0.01);
    border-radius: calc(var(--index)*1);
    transition: 0.25s ease-out;
    transform: translateY(0.4vh);
    scale: 100%;
}